.about-me {
  display: grid;
  grid-template-columns: 600px 330px;
  justify-content: space-between;
  padding-bottom: 85px;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
  }
}

.about-me__content {
  @media (max-width: $tablet-width) {
    margin-bottom: 15px;
  }
}

.about-me__content a {
  color: $secondary-accent;
  text-decoration: none;

  &:hover {
    color: rgba($accent-color, 0.7);
  }
}

.about-me img {
  padding-top: 20px;
  border-radius: 50%;

  @media (max-width: $tablet-width) {
    width: 262px;
    height: 262px;
  }
}

.about-me h2 {
  margin: 0 0 35px;
}

.about-me p {
  font-size: 21px;
  line-height: 29px;
  color: $light-gray;

  @media (max-width: $tablet-width) {
    width: 60%;
  }

  @media (max-width: $mobile-width) {
    width: 95%;
    font-size: 18px;
    line-height: 27px;
  }

  @media (max-width: 524px) {
    width: 100%;
    font-size: 15px;
    line-height: 25px;
  }
}
