.about-me {
  display: grid;
  grid-template-columns: 600px 330px;
  justify-content: space-between;
  padding-bottom: 30px;
}

.about-me h2 {
  margin: 0 0 20px;
}

.about-me p {
  font-size: 21px;
  line-height: 29px;
  color: $light-gray;
}

.about-me img {
  border-radius: 50%;
}
