.certificates {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  min-height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
}

.certificates__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  margin: 0;
  list-style: none;
  z-index: 10;
}
