.contact-me {
  display: grid;
  grid-template-columns: 260px 762px;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
  }
}

.contact-me__social {
  grid-column: 1/2;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-me__social li {
  margin-bottom: 22px;
}

.contact-me__social a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.contact-me__social svg {
  margin-right: 20px;
}

.contact-me__social span {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: $light-gray;
}

.contact-me__info {
  position: relative;
}

.contact-me__info p {
  position: absolute;
  top: 41px;
  left: 35px;
  width: 392px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: $light-gray;

  @media (max-width: 1166px) {
    width: 35%;
  }
}

.contact-me__info img {
  width: 762px;
  height: 363px;
}


