.contact-me {
  display: grid;
  grid-template-columns: 260px 762px;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
  }
}

.contact-me__social {
  grid-column: 1/2;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-me__social li {
  margin-bottom: 22px;
}

.contact-me__social a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.contact-me__social svg {
  margin-right: 20px;
}

.contact-me__social span {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: $light-gray;
}

.contact-me__info {
  position: relative;
  display: flex;
}

.contact-me__info picture {
  order: 1;
}

.contact-me__info p span {
  margin-top: 10px;
  display: block;
}


.contact-me__info p {
  position: relative;
  margin-top: 0;
  padding-top: 26px;
  padding-left: 23px;
  padding-right: 23px;
  height: 183px;
  width: 392px;
  background: $clouds-color;
  border: 3px solid $accent-color;
  border-radius: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: $light-gray;
  text-shadow: 0 2px 4px $black-basic;

  &::after {
    content: "";
    position: absolute;
    right: -23px;
    bottom: -7px;
    width: 40px;
    height: 21px;
    background-image: url("../img/svg/direction.svg");
    background-repeat: no-repeat;
    transform: rotate(2deg);
  }

  @media (max-width: $mobile-width) {
    top: 30px;
    width: 42%;
    font-size: 15px;
    line-height: 22px;
  }
}

// .contact-me__info img {
//   width: 762px;
//   height: 363px;

//   @media (max-width: $mobile-width) {
//     width: 653px;
//     height: 308px;
//   }
// }
