.page-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    top: -105px;
    height: 255px;
    background: linear-gradient(180deg, rgba($background-color, 0.5) 61.88%,
      rgba($background-color, 0) 93.09%);
    z-index: -1;
  }
}

.page-header--open {
  @media (max-width: $mobile-width) {
    .page-header__container {
      background-color: $background-color;
      opacity: 0.97;
    }

    .page-header__list {
      position: absolute;
      display: flex;
      flex-direction: column;
      padding: 43px 20px;
      width: 100%;
      left: 0;
      top: 85px;
      background-color: $background-color;
    }

    .page-header__list li {
      margin-bottom: 26px;
    }

    .page-header__x-circle {
      display: flex;
    }

    .page-header__burger-svg {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}

.page-header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.page-header__burger {
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
  z-index: 50;
}

.page-header img {
  z-index: 10;
  border-radius: 50%;
}

.page-header__x-circle {
  display: none;
}

.page-header__burger-svg {
  display: none;

  @media (max-width: $mobile-width) {
    display: flex;
  }
}

.page-header__list {
  display: flex;
  justify-content: space-between;
  width: 595px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.page-header a {
  position: relative;
  padding: 0 7px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: $light-gray;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 5%;
    display: block;
    height: 2px;
    width: 0px;
    background-color: $light-gray;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
  }

  &:hover:after {
    width: 100%;
    left: 0;
    cursor: pointer;
  }
}
