.projects h2 {
  margin-bottom: 20px;
}

.projects__list {
  display: grid;
  grid-template-columns: 518px 518px;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: $tablet-width) {
    grid-template-columns: 418px 418px;
  }
}

.projects__list li {
  overflow: hidden;
  position: relative;
}

.projects__list a {
  display: block;
  text-decoration: none;

  &:hover {
    box-shadow: 0 0 6px 2px rgba($background-color, 0.6);
  }

  &:hover .projects__info {
    transform: translateY(0%);
  }

  &:hover img {
    transform: scale(1.1);
  }
}

.projects__list img {
  border-radius: 10px;
  transition: transform 0.5s;

  @media (max-width: $tablet-width) {
    width: 418px;
    height: 183px;
  }
}

.projects__info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 20px;
  text-align: center;
  font-size: 21px;
  line-height: 29px;
  color: $light-gray;
  background-color: rgba($black-basic, 0.6);
  transition: transform 0.5s;
  transform: translateY(100%);
}
