.projects {
  padding-top: 40px;
}

.projects h2 {
  margin-top: 0;
  margin-bottom: 35px;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects__item {
  position: relative;
}

.projects__mask {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  background-color: rgb($black-basic, 0.6);
  border-radius: 10px;
  z-index: 5;
  transform: scale(0);
}

.projects__item:hover .projects__mask {
  display: flex;
  transform: scale(1);
  transition: 0.5s;
}

.projects__link {
  display: block;
  width: 270px;
  margin: 19% auto;
  padding: 25px 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white-basic;
  text-align: center;
  border: 2px solid rgba($night-rider, 0.7);
  border-radius: 10px;
  background-color: rgba($coal, 0.5);

  @media (max-width: $desktop-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 17px;
    width: 100%;
    height: 100%;
  }
}

.projects__list img {
  width: 599px;
  height: 396px;
  border-radius: 10px;
  object-fit: cover;

  @media (max-width: $desktop-width) {
    width: 469px;
    height: 306px;
  }

  @media (max-width: 1070px) {
    width: 396px;
    height: 260px;
  }
}

.projects__info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: $dark-rock;
  background-color: $white-basic;
  width: 100%;
  height: 68px;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  line-height: 19px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  @media (max-width: $mobile-width) {
    top: 80px;
    padding: 13px 15px 28px;
    color: $white-basic;
    font-size: 14px;
    line-height: 18px;
    background-image: linear-gradient(180deg, rgba($charcoal, 0.62) 0%, rgba($charcoal, 0.5) 100%, rgba($charcoal, 0) 100%);
    transform: inherit;
    padding-bottom: 11px;
  }

  @media (max-width: 524px) {
    top: 65px;
    width: 290px;
  }
}

.projects__info p {
  margin: 0;
}

.project__hidden {
  @media (max-width: 1065px) {
    display: none;
  }
}
