.projects h2 {
  margin-top: 0;
  margin-bottom: 35px;
}

.projects__list {
  display: grid;
  grid-template-columns: 608px 608px;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: $desktop-width) {
    grid-template-columns: 504px 504px;
  }

  @media (max-width: $tablet-width) {
    grid-template-columns: 504px;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 403px;
  }

  @media (max-width: 524px) {
    grid-template-columns: 290px;
  }
}

.projects__list li {
  overflow: hidden;
  position: relative;
}

.projects__list a {
  display: block;
  text-decoration: none;
  border-radius: 10px;
  overflow: hidden;

  &:hover {
    box-shadow: 0 0 6px 2px rgba($background-color, 0.6);
  }

  &:hover .projects__info {
    transform: translateY(0%);
  }

  &:hover img {
    transform: scale(1.1);
  }

  @media (max-width: $mobile-width) {
    position: relative;
  }
}

.projects__list img {
  transition: transform 0.5s;

  @media (max-width: $desktop-width) {
    width: 504px;
    height: 274px;
  }

  @media (max-width: $mobile-width) {
    width: 403px;
    height: 174px;
  }

  @media (max-width: 524px) {
    width: 290px;
    height: 119px;
  }
}

.projects__info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 23px;
  color: $light-gray;
  background-color: rgba($black-basic, 0.8);
  text-shadow: 0 2px 4px $black-basic;
  transition: transform 0.5s;
  transform: translateY(100%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  @media (max-width: $mobile-width) {
    top: 80px;
    padding: 13px 15px 28px;
    color: $white-basic;
    font-size: 14px;
    line-height: 18px;
    background-image: linear-gradient(180deg, rgba($background-color, 0.62) 0%, rgba($background-color, 0.5) 100%, rgba($background-color, 0) 100%);
    transform: inherit;
    padding-bottom: 11px;
  }

  @media (max-width: 524px) {
    top: 65px;
    width: 290px;
  }
}

.projects__info p {
  margin: 0;
}

.project__hidden {
  @media (max-width: 524px) {
    display: none;
  }
}
