.promo {
  position: relative;
  padding-top: 277px;
  width: 100%;
  height: 1023px;
  background-image: url("../img/background.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.95;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -3px;
    height: 255px;
    background-image: linear-gradient(to bottom, transparent, $charcoal);
    z-index: -1;
  }

  @media (min-width: 1600px) {
    height: 1312px;
    background-position: 0 0;
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/background-mobile.jpg");

    &::before {
      display: none;
    }
  }
}

.promo p:first-child {
  margin: 0 0 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;

  @media (max-width: 524px) {
    margin: 0 0 20px;
  }
}

.promo__subtitle {
  margin: 0 0 109px;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: $accent-color;

  @media (max-width: $mobile-width) {
    width: 60%;
  }

  @media (max-width: 524px) {
    width: 100%;
    font-size: 25px;
    line-height: 36px;
  }
}

.promo h1 {
  margin: 0 0 12px;
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 48px;
  line-height: 53px;

  @media (max-width: 524px) {
    font-size: 33px;
    line-height: 24px;
  }
}

.promo___resume {
  position: relative;
  left: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 27px 30px;
  margin-right: 39px;
  color: $charcoal;
  background-image: linear-gradient(180deg, $accent-color 0%, $secondary-accent 100%);
  text-shadow: 0 2px 3px rgba($black-basic, 0.25);
  text-decoration: none;

  &:hover,
  &:focus {
    background-image: linear-gradient(-45deg, $accent-color 0%, $secondary-accent 100%);

    svg {
      fill: rgba($light-gray, 0.75);
    }
  }

  @media (max-width: $mobile-width) {
    display: flex;
    margin-bottom: 25px;
  }

  @media (max-width: 524px) {
    padding: 19px 22px;
    width: 210px;
    font-size: 17px;
    line-height: 24px;
  }
}

.promo___resume svg {
  position: absolute;
  right: 15px;
  fill: $charcoal;

  @media (max-width: 524px) {
    width: 30px;
    height: 30px;
  }
}

.promo___certificates {
  color: $accent-color;
  border: 3px solid $accent-color;

  &:hover,
  &:focus {
    background: rgba($light-gray, 0.23);
    color: $white-basic;
  }

  @media (max-width: 524px) {
    padding: 19px 15px;
    width: 210px;
    font-size: 17px;
    line-height: 24px;
  }
}
