@font-face {
  font-family: "Podkova";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Podkova-Regular.woff2") format("woff2"),
    url("../fonts/Podkova-Regular.woff") format("woff");
}

@font-face {
  font-family: "Podkova";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Podkova-Bold.woff2") format("woff2"),
    url("../fonts/Podkova-Bold.woff") format("woff");
}

@font-face {
  font-family: "Roboto Mono";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/RobotoMono-Regular.woff2") format("woff2"),
    url("../fonts/RobotoMono-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Mono";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/RobotoMono-Bold.woff2") format("woff2"),
    url("../fonts/RobotoMono-Bold.woff") format("woff");
}
