html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: $main-font;
  font-size: 14px;
  line-height: 30px;
  color: $light-gray;
  background-color: $background-color;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2 {
  position: relative;
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 48px;
  line-height: 53px;
  color: $accent-color;
}

.button {
  padding: 27px 30px;
  width: 250px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  font-family: $main-font;
  border: 0;
  border-radius: 10px;
  text-align: center;
  background-color: inherit;
  cursor: pointer;
}

.container {
  padding: 0 100px;
  margin: 0 auto;
  max-width: 1440px;

  @media (max-width: $desktop-width) {
    padding: 0 40px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 20px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba($black-basic, 0.7);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
