html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: $main-font;
  font-size: 14px;
  line-height: 30px;
  color: $light-gray;
  background-color: $background-color;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 100px;
  margin: 0 auto;
}
