$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1440px;

$main-font: "Roboto Mono", monospace;
$secondary-font: "Podkova", serif;

$white-basic:         #ffffff;
$black-basic:         #000000;

$light-gray:          #eeeeee;

$accent-color:        #f9d24a;
$secondary-accent:    #c19700;

$charcoal:            #1b1c23;
$dark-rock:           #2c2e3f;
$clouds-color:        #292a30;
$night-rider:         #333333;
$coal:                #111111;
