$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$main-font: "Roboto Mono", monospace;
$secondary-font: "Podkova", serif;

$white-basic: #ffffff;
$black-basic: #000000;
$light-gray:#eeeeee;
$accent-color: #f9d24a;
$secondary-accent: #c19700;
$background-color: #1b1c23;
